datasets==3.0.1
Flask-Cors==4.0.1
transformers==4.45.1
torchvision==0.19.1
torchaudio==2.4.1
bitsandbytes==0.44.1
accelerate==0.34.2
pandas
nltk
Flask
python-box==6.0.2
ensure==1.0.2
PyYAML
tqdm
mlflow
torch==2.4.1  # Updated to standard version, adjust if you need a specific CUDA version
-e .